*{
	margin:0; padding:0;
}
@font-face {
    font-family: 'ticker';
    src: url('fonts/ticker-webfont.eot');
    src: url('fonts/ticker-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ticker-webfont.woff') format('woff'),
         url('fonts/ticker-webfont.ttf') format('truetype'),
         url('fonts/ticker-webfont.svg#ticker') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	background:#d6dbcb; padding:20px;
}
img{
	border:none;
}
.karkas{
	min-width:945px; max-width:1300px; margin:0 auto;
}
.clr{
	clear: both;
}
.head{
	background:#e6edd5 url(images/header-bg.jpg) left top repeat-x; height:500px; position:relative;
}
	.logo{
		position:absolute; top:0; left:0; margin:60px 0 0 20px;
	}
	.menu{
		list-style:none; overflow:hidden; float:left; margin:50px 0 0 22%; position:relative;
	}
		.menu li{
			float:left;  margin:0 10px; font-size:15px; color:#be1a2a; font-family:'ticker';
		}
			.menu li a{
				color:#be1a2a;
			}
			.menu li a:hover{
				text-decoration:none;
			}
	.ico{
		float:right; margin:52px 25px 0 0;
	}
		.ico img{
			margin:0 7px;
		}
.head-cont{
	float:right; margin: 35px 25px 0 0;
}
	.head-phone{
		font-size:13px; color:#38441b; text-align:right; font-family:'ticker'; line-height:1.3;
	}
	.head-phone span{
		font-size:18px; font-weight: bold; color:#be1a2a; 
	}
.head-addr{
	font-size:14px; color:#38441b; text-align:right; font-family:'ticker'; line-height:1.3;
}
	.head-addr a{
		font-size:12px; color:#be1a2a; line-height:2.3;
	}
	.head-addr a:hover{
		text-decoration:none;
	}
.head-lider{
	background: url(images/akcia-bg.png) left top no-repeat; width:397px; height:286px; margin:0 auto; position:relative; padding:35px 0 0 55px; top:105px;
}
	.lider-ico{
		position:absolute; top:-20px; left:50px;
	}
	.lider-img{
		 padding: 0 0 15px 20px;
	}
	.head-lider h2{
		font-size:22px; color:#be1a2a; font-family:'ticker';
	}
	.head-lider p{
		font-size:14px; color:#38441b; font-family:'ticker';
	}
	.head-lefter{
		position:absolute; left:0; bottom:0;
	}
	.head-righter{
		position:absolute; right:0; bottom:0;
	}
	
.content-main{
	background:#fff url(images/content-bg.jpg) bottom repeat-x; overflow:hidden; padding:0 0 70px 0;
}
.left-bar{
	float:left; width:260px; padding:30px 20px 30px 20px;
}
	.left-bar h3{
		font-size:20px; font-weight:normal; color:#38441b; font-family:'ticker'; text-align:center; margin:0 0 40px 0;
	}
	.left-news{
		margin:0 0 25px 0;
	}
		.left-news span{
			font-size:10px; color:#38441b; font-family:'ticker';
		}
		.left-news p{
			font-size:13px; color:#be1a2a; font-family:'ticker';
		}
		.left-news p a{
			color:#be1a2a;
		}
		.left-news p a:hover{
			text-decoration:none;
		}
		a.all-news{
			background:#f4f5f0; color: #BE1A2A; display: block; font-family: 'ticker'; font-size: 13px; 		margin: 0 auto; padding: 4px 0 5px; text-align: center; width: 130px;
		}
		a:hover.all-news{
			text-decoration:none;
		}
		.img-left-bar{
			display:block; margin:30px auto 0 auto;
		}
.content{
	margin:0 0 0 300px; padding:25px 20px 0 20px;
}
	.content h1{
		font-size:24px; font-weight:normal; color:#38441b; font-family:'ticker'; margin:0 0 20px 0;
	}
	.content p{
		font-size:13px; color:#576437; font-family:'ticker'; text-align:justify; margin:0 0 20px 0;
	}
	.content img{
		padding:0 0 15px 15px;
	}
	.content a{
		color:#be1a2a;
	}
	.content a:hover{
		text-decoration:none;
	}

.footer{
	background:#fff; padding:10px 0; overflow:hidden;
}
	.logo-footer{
		float:left; margin:0 0 0 110px
	}
	.footer p{
		font-size:11px; color:#576437; font-family:'ticker'; float:left; margin:20px 0 0 120px;
	}
	.footer a{
		color:#be1a2a; margin:0 5px;
	}
	.footer a:hover{
		text-decoration:none;
	}
	.footer ul{
		list-style:none; margin:13px 10px 0 0; float:right;
	}
	.footer ul li{
		float:right;
	}